/* src/index.css */

:root {
    --primary: #252525;
    --secondary: #D9D9D9;
    --selection-button-bg: #D9D9D9;
    --selection-button-text: #252525;
    --selection-button-border: #EFBF04;
}

* {
    margin: 0;
    padding: 0;
    background: var(--primary);
    color: var(--secondary);
}

main {
    display: grid;
    place-items: center;
    padding: 4rem;
    gap: 3rem;
}

header {
    margin: 1rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
}

h2 {
    text-decoration: underline;
}

/* === Selection buttons === */

#dice-choices ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    list-style-type: none;
}

.selectionButton {
    width: 3rem;
    background: var(--selection-button-bg);
    color: var(--selection-button-text);
}

.selected {
    background: #252525;
    color: #D9D9D9;
    border: 1px solid var(--selection-button-border);
    border-radius: 5px;
}
